* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    font-size: large;
    padding: 10px 20px;
    margin: 10px auto;
}

.full {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #cfe6de;
    position: relative;
}

.intro {
    position: absolute;
    width: 90vw;
    height: 90vh;
    top: 5vh;
    left: 5vw;
    flex: 0 0 0;
    background-color: #72a792;
    z-index: 2;
    display: flex;
    border-radius: 20px;
}

.intro-content {
    margin: auto;
    padding: 0 30px;
}

h1 {
    padding: 20px;
    text-align: center;
}

.intro p {
    padding: 10px 20px;
    text-align: justify;
}

h1,
h2,
h3 {
    font-family: "Corben", serif;
}

h2 {
    font-size: 14pt;
}

p {
    font-size: 16pt;
}

.window {
    width: 90vw;
    height: 90vh;
    margin: auto;
    background-color: #79a094;
    display: flex;
    border-radius: 20px;
}

.options-container {
    flex: 2 0 0;
    background-color: #557a6f;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px 0 0 20px;
    overflow: auto;
}

.tab-container {
    flex: 1 0 0;
    background-color: #465f58;
    display: flex;
    flex-direction: column;
}

.character-window {
    flex: 6 0 0;
    display: flex;
    position: relative;
    min-height: 0;
}

.character {
    position: relative;
    width: 750px;
    height: 750px;
    margin: auto;
}

.character>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 750px;
    height: 750px;
    background-size: 750px;
}

/* tab styling */
.tab {
    background-color: #465f58;
    width: 100%;
    padding: 20px;
    margin: 0;
    border: none;
    display: inline-block;
    flex: 1 0 0;
    font-family: "Corben", serif;
    font-size: 16pt;
}

.tab:hover {
    background-color: #3e524c;
}

.tab.active {
    background-color: #314741;
    color: #fff;
}

/* features tab styling */
.wrapper {
    background-color: #bad0e4;
    padding: 20px;
    border-radius: 8px;
    margin: 0 0 20px 0;
}

.wrapper>h2 {
    margin: 0 0 15px 0;
}

.features .option {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 3px solid #324c64;
}

.features .option:hover {
    box-shadow: 2px 2px 2px #abc7e1;
}

.skintones {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    justify-content: space-evenly;
}

.eye-colors {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    justify-content: space-evenly;

}

.option {
    background-color: #bad0e4;
    padding: 20px;
    border-radius: 8px;
    margin: 0 0 20px 0;
    width: 310px;
    border: none;
}

.option img {
    width: 250px;
}

.option:hover {
    background-color: #8296a9;
}

/* images */
.body-img {
    background-image: url(assets/body1.webp);
}

.eye-img {
    background-image: url(assets/eye1.webp);
}

.outfit-img {
    background-image: url(assets/outfit1.webp);
}

/* flavor text */
.flavor-text {
    position: absolute;
    width: 10vw;
    height: 15vh;
    overflow: auto;
    padding: 10px;
    background: #ffffffdd;
    border-radius: 8px;
    z-index: 1;
}

.headgear-flavor {
    top: 20%;
    left: 7.5%;
}

.outfit-flavor {
    top: 30%;
    right: 7.5%;
}

.accessory-flavor {
    top: 50%;
    left: 7.5%;
}

.set-flavor {
    bottom: 2%;
    right: 2%;
    width: 13vw;
    height: 20vh;
}

.set-flavor.active {
    display: block;
    border: 2px solid gold;
    background-color: #faf3cf;
}

.flavor-title {
    margin: 0 0 5px 0;
    font-size: 11px;
    color: #333;
}

.flavor-quote {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #666;
    font-style: italic;
}

.flavor-desc {
    font-size: 14px;
    color: #666;
}